.cards {
  padding: 0.5rem 1rem;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
  gap: 0.5rem;
}

@media (max-width: 850px) {
  .cards {
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    padding: 0.5rem;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }
}
