.card {
  min-height: 12rem;
  background-color: white;
  border: 5px dotted var(--dark-background-color);
  padding: 0.5rem;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card img {
  border: 2px solid var(--dark-background-color);
  border-radius: 25%;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}

.card:hover {
  border: 5px dotted var(--font-color);
  background-color: white;
}

.card:hover img {
  border: 2px solid var(--font-color);
  width: 7.75rem;
  height: 7.75rem;
}
