.card {
  min-height: 10rem;
  background-color: white;
  border: 5px dotted var(--dark-background-color);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card img {
  border: 2px solid var(--dark-background-color);
  border-radius: 25%;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.card .label {
  min-height: 2.3rem;
  display: flex;
  align-items: center;
}

.card:hover {
  border: 5px dotted var(--font-color);
  background-color: white;
}

.card:hover img {
  border: 2px solid var(--font-color);
  width: 5.5rem;
  height: 5.5rem;
}

@media (max-width: 375px) {
  .card {
    padding: 0.25rem;
  }

  .card img {
    width: 4rem;
    height: 4rem;
  }

  .card:hover img {
    width: 4.25rem;
    height: 4.25rem;
  }
}
