header {
  background-color: white;
  padding: 2rem 0;
  margin-top: 1rem;
  border-top: 5px dotted var(--dark-background-color);
  border-bottom: 5px dotted var(--dark-background-color);
  display: flex;
  justify-content: center;
}

header svg {
  font-size: 5rem;
  color: var(--dark-background-color);
  stroke: var(--font-color);
  stroke-width: 1rem;
}

header svg:last-child {
  transform: rotate(-90deg);
}

h1, h2 {
  margin: 0;
  font-weight: 500;
}
