.scoreboard {
  background-color: white;
  width: max-content;
  border: 5px dotted var(--dark-background-color);
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 3rem;
}

@media (max-width: 900px) {
  .scoreboard {
    margin-right: 1rem;
  }
}

@media (max-width: 420px) {
  .scoreboard {
    margin-right: 0.5rem;
  }
}
